# Ignore .pyc (python compiled), .pyo (python optimised) and .pyd (Python DLL/shared libraries) files
*.py[cod]

# Ignores all __pycache__ folders
__pycache__/

# Generated documentation and example output
docs/source/auto_examples/
docs/source/sg_execution_times.rst
examples/basic_example/results/
